html, body {
    background-color: #f6c492 !important;
}

.card {
    background-color: #6a67a2 !important;
}

.h2 {
    text-align: center;
    color: #f6c492 !important;
    margin-bottom: 20px;
    font-family: "Lucida Handwriting", monospace;
    font-size: 3em !important;
}

.new_item_header {

    color: #f6c492;
    font-family: "Playwrite US Modern", serif;
    text-align: center;
}

.btn {
    background-color: #b59f87 !important;
}

.input-group-text {
    font-family: "Sour Gummy", serif;
}